- add_page_specific_style 'page_bundles/merge_request'
- add_page_specific_style 'page_bundles/merge_request_rapid_diffs'

= render 'page'
- if params[:cached].present?
  - Gitlab::Diff::RenderedCache.new(@diffs_slice, compress: params[:compress], compress_offset: 0, limit: @streaming_offset) do |cache|
    - @diffs_slice.diff_files.each do |diff_file|
      = cache.fetch(diff_file) do
        - render RapidDiffs::DiffFileComponent.new(diff_file: diff_file, parallel_view: diff_view == :parallel)
- else
  - @diffs_slice.diff_files.each do |diff_file|
    = render RapidDiffs::DiffFileComponent.new(diff_file: diff_file, parallel_view: diff_view == :parallel)
- if @stream_url
  #js-stream-container{ data: { diffs_stream_url: @stream_url } }
